* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff, #ff0000);
    background-size: 1600% 1600%;
    animation: GradientAnimation 10s ease infinite;
}
#Div_Principal{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Div_Secundario{

    width: 350px;
    padding: 9px;
    border: 1px solid #3498db;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: antiquewhite;
    transition: all 0.3s ease;

}

.emoji {
  position: absolute;
  font-size: 2rem;
  animation: fall linear infinite;
  pointer-events: none; /* Evita que los emojis interfieran con eventos de mouse */
}

#no {
    position: absolute;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
  }

  #si {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease;
  }

@keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes fall {
    0% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0.5;
    }
}